# the dataset
Teeth_Dataset/

# Python temporary files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# editor settings and system files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

checkpoints/
logs/
runs/
outputs/

# large data files
*.csv
*.npy
*.npz
*.pkl
